body{
    background-color: white;
}

.bg-green{
    background-color: #51aa0a;
}

.fs-12{
    font-size: 12px;
}
.fs-12 br{
    font-size: 12px;
}
.fs-21{
    font-size: 21px;
}
.border-dashed{
    border: dashed;
}
.border-solid-yellow{
    border: 3px solid #fee334;
}
.text-black li a{
    color: black;
}
.bg-cristal-shadow{
    background: rgba(15,1,1,.1);
    box-shadow: 20px 20px 50px #000;
}