@font-face {
    font-family: 'gtRegular';
    src: url(../src/fonts/gt-walsheim-regular.ttf) format("truetype");
}
@font-face {
    font-family: 'gtBold';
    src: url(../src/fonts/gt-walsheim-ultra-bold.ttf) format("truetype");
}
@font-face {
    font-family: 'gtBlack';
    src: url(../src/fonts/gt-walsheim-black.ttf) format("truetype");
}
@font-face {
    font-family: 'gtMedium';
    src: url(../src/fonts/gt-walsheim-medium.ttf) format("truetype");
}

.font-regular{
    font-family: 'gtRegular';
}
.font-bold{
    font-family: 'gtBold';
}
.font-black{
    font-family: 'gtBlack';
}
.font-medium{
    font-family: 'gtMedium';
}

body{
    background-color: white;
    font-family: 'gtRegular';
}

.bg-green{
    background-color: #51aa0a;
}

.fs-12{
    font-size: 12px;
}
.fs-12 br{
    font-size: 12px;
}
.fs-21{
    font-size: 21px;
}

.border-dashed{
    border: dashed;
}
.border-solid-yellow{
    border: 3px solid #fee334;
}
.text-black li a{
    color: black;
}
.text-black{
    color: black;
}
.bg-cristal-shadow{
    background: rgba(15,1,1,.1);
    box-shadow: 20px 20px 50px #000;
}