.bg-resines{
    background: url(/src/img/resines.png) no-repeat; 
    background-position: top;
    height: 52vh;
}
.ganadores-bar-size{
    height: 5em;
}
.bg-amarillo h6{
    background-color: #fee334;
}
.w-card{
    width: 18rem;
}
.position-call{
    position: fixed;
    right: 4em;
}
.sello-position{
    position: sticky;
    left: 35em;
    bottom: 3em;
}